.top-content {
  background-image: url("/img/sample-img-970x400.png");
  padding-top: 200px;
  padding-bottom: 100px;
}

.row-logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

#main-footer {
  margin-top: 30px;
}

.no-overflow {
  overflow: hidden;
}

.my-group,
.form-control {
  width: 50%;
}

#filter {
  height: 48px;
  width: 100px;
}

#search {
  width: 300px;
}

